In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [32]:
Eleckart=pd.read_csv("C:/Users/shivali_dalmia/Desktop/UpGrad/GroupCaseStudy/Master_data.csv")
Eleckart.shape

(511604, 44)

In [33]:
#inspecting data frame columns data
Eleckart.head()

,Unnamed: 0,index,fsn_id,order_date,Month,order_id,order_item_id,gmv,units,deliverybdays,...,Year_month,NPS,Stock Index,Day,Week,Year,special_sales,sales_start_week,sales_end_week,Weekday
0,0,0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,10,3.419301e+15,3.419301e+15,6400.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,17,16,2015.0,(17-15th Oct),16.0,16.0,Saturday
1,1,1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,10,1.420831e+15,1.420831e+15,6900.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,19,16,2015.0,(17-15th Oct),16.0,16.0,Monday
2,2,2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,10,2.421913e+15,2.421913e+15,1990.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,20,16,2015.0,(17-15th Oct),16.0,16.0,Tuesday
3,3,3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,10,4.416592e+15,4.416592e+15,1690.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,14,16,2015.0,(17-15th Oct),16.0,16.0,Wednesday
4,4,4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,10,4.419525e+15,4.419525e+15,1618.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,17,16,2015.0,(17-15th Oct),16.0,16.0,Saturday

In [34]:
print(Eleckart.product_analytic_sub_category.isnull().sum())

Eleckart['product_analytic_sub_category'].replace(r'\s+', np.nan,regex=True,inplace=True)
Eleckart=Eleckart[Eleckart['product_analytic_sub_category']!=0]

df1=Eleckart.product_analytic_sub_category.str.contains('CameraAccessory')
CameraAccessory=Eleckart[df1]

df2=Eleckart.product_analytic_sub_category.str.contains('GamingAccessory')
GamingAccessory=Eleckart[df2]

df3=Eleckart.product_analytic_sub_category.str.contains('HomeAudio')
HomeAudio=Eleckart[df3]

0

In [35]:
#Inspecting CameraAccessory sub category data
CameraAccessory.head()

,Unnamed: 0,index,fsn_id,order_date,Month,order_id,order_item_id,gmv,units,deliverybdays,...,Year_month,NPS,Stock Index,Day,Week,Year,special_sales,sales_start_week,sales_end_week,Weekday
0,0,0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,10,3.419301e+15,3.419301e+15,6400.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,17,16,2015.0,(17-15th Oct),16.0,16.0,Saturday
1,1,1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,10,1.420831e+15,1.420831e+15,6900.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,19,16,2015.0,(17-15th Oct),16.0,16.0,Monday
2,2,2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,10,2.421913e+15,2.421913e+15,1990.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,20,16,2015.0,(17-15th Oct),16.0,16.0,Tuesday
3,3,3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,10,4.416592e+15,4.416592e+15,1690.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,14,16,2015.0,(17-15th Oct),16.0,16.0,Wednesday
4,4,4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,10,4.419525e+15,4.419525e+15,1618.0,1,0.0,...,2015.0-10.0,44.398389,1210.0,17,16,2015.0,(17-15th Oct),16.0,16.0,Saturday

In [36]:
CameraAccessory.drop(['Unnamed: 0','index'],axis=1,inplace=True)
CameraAccessory.head()

,fsn_id,order_date,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,...,Year_month,NPS,Stock Index,Day,Week,Year,special_sales,sales_start_week,sales_end_week,Weekday
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,10,3.419301e+15,3.419301e+15,6400.0,1,0.0,0.0,COD,...,2015.0-10.0,44.398389,1210.0,17,16,2015.0,(17-15th Oct),16.0,16.0,Saturday
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,10,1.420831e+15,1.420831e+15,6900.0,1,0.0,0.0,COD,...,2015.0-10.0,44.398389,1210.0,19,16,2015.0,(17-15th Oct),16.0,16.0,Monday
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,10,2.421913e+15,2.421913e+15,1990.0,1,0.0,0.0,COD,...,2015.0-10.0,44.398389,1210.0,20,16,2015.0,(17-15th Oct),16.0,16.0,Tuesday
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,10,4.416592e+15,4.416592e+15,1690.0,1,0.0,0.0,Prepaid,...,2015.0-10.0,44.398389,1210.0,14,16,2015.0,(17-15th Oct),16.0,16.0,Wednesday
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,10,4.419525e+15,4.419525e+15,1618.0,1,0.0,0.0,Prepaid,...,2015.0-10.0,44.398389,1210.0,17,16,2015.0,(17-15th Oct),16.0,16.0,Saturday

In [37]:
#Inspecting columns types 
CameraAccessory.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215453 entries, 0 to 215452
Data columns (total 42 columns):
fsn_id                             215453 non-null object
order_date                         215453 non-null object
Month                              215453 non-null int64
order_id                           215453 non-null float64
order_item_id                      215453 non-null float64
gmv                                215453 non-null float64
units                              215453 non-null int64
deliverybdays                      215453 non-null float64
deliverycdays                      215453 non-null float64
s1_fact.order_payment_type         215453 non-null object
sla                                215453 non-null int64
cust_id                            215453 non-null float64
pincode                            215453 non-null float64
product_analytic_super_category    215453 non-null object
product_analytic_category          215453 non-null object
product_analytic_sub_category      215453 non-null object
product_analytic_vertical          215453 non-null object
product_mrp                        215453 non-null float64
product_procurement_sla            215453 non-null int64
frequency_y                        215453 non-null int64
percent                            215453 non-null float64
Year_y                             215453 non-null float64
Total Investment                   215453 non-null float64
TV                                 215453 non-null float64
Digital                            215453 non-null float64
Sponsorship                        215453 non-null float64
Content Marketing                  215453 non-null float64
Online marketing                   215453 non-null float64
Affiliates                         215453 non-null float64
SEM                                215453 non-null float64
Radio                              215453 non-null float64
Other                              215453 non-null float64
Year_month                         215453 non-null object
NPS                                215453 non-null float64
Stock Index                        215453 non-null float64
Day                                215453 non-null int64
Week                               215453 non-null int64
Year                               215453 non-null float64
special_sales                      215453 non-null object
sales_start_week                   215453 non-null float64
sales_end_week                     215453 non-null float64
Weekday                            215453 non-null object
dtypes: float64(25), int64(7), object(10)
memory usage: 70.7+ MB

In [38]:
CameraAccessory_data = CameraAccessory[['Month','gmv','deliverybdays','deliverycdays','units','s1_fact.order_payment_type','sla','product_analytic_super_category','product_analytic_category','product_analytic_sub_category','product_analytic_vertical','product_mrp','product_procurement_sla','frequency_y','percent','Year_y','Total Investment','TV','Digital','Sponsorship','Content Marketing','Online marketing','Affiliates','SEM','Radio','Other','NPS','Day','Stock Index','Week','Year','sales_start_week','sales_end_week','Weekday']]

In [39]:
CameraAccessory_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215453 entries, 0 to 215452
Data columns (total 34 columns):
Month                              215453 non-null int64
gmv                                215453 non-null float64
deliverybdays                      215453 non-null float64
deliverycdays                      215453 non-null float64
units                              215453 non-null int64
s1_fact.order_payment_type         215453 non-null object
sla                                215453 non-null int64
product_analytic_super_category    215453 non-null object
product_analytic_category          215453 non-null object
product_analytic_sub_category      215453 non-null object
product_analytic_vertical          215453 non-null object
product_mrp                        215453 non-null float64
product_procurement_sla            215453 non-null int64
frequency_y                        215453 non-null int64
percent                            215453 non-null float64
Year_y                             215453 non-null float64
Total Investment                   215453 non-null float64
TV                                 215453 non-null float64
Digital                            215453 non-null float64
Sponsorship                        215453 non-null float64
Content Marketing                  215453 non-null float64
Online marketing                   215453 non-null float64
Affiliates                         215453 non-null float64
SEM                                215453 non-null float64
Radio                              215453 non-null float64
Other                              215453 non-null float64
NPS                                215453 non-null float64
Day                                215453 non-null int64
Stock Index                        215453 non-null float64
Week                               215453 non-null int64
Year                               215453 non-null float64
sales_start_week                   215453 non-null float64
sales_end_week                     215453 non-null float64
Weekday                            215453 non-null object
dtypes: float64(21), int64(7), object(6)
memory usage: 57.5+ MB

In [40]:
#Creating dummies for all categorical variables
s1_fact_order_payment_type = pd.get_dummies(CameraAccessory_data['s1_fact.order_payment_type'])
CameraAccessory_data = pd.concat([CameraAccessory_data,s1_fact_order_payment_type], axis = 1)

product_analytic_super_category  = pd.get_dummies(CameraAccessory_data['product_analytic_super_category'], drop_first = True)
CameraAccessory_data = pd.concat([CameraAccessory_data,product_analytic_super_category], axis = 1)

product_analytic_sub_category = pd.get_dummies(CameraAccessory_data['product_analytic_sub_category'], drop_first = True)
CameraAccessory_data = pd.concat([CameraAccessory_data,product_analytic_sub_category], axis = 1)

product_analytic_category = pd.get_dummies(CameraAccessory_data['product_analytic_category'], drop_first = True)
CameraAccessory_data = pd.concat([CameraAccessory_data,product_analytic_category], axis = 1)
                            
product_analytic_vertical = pd.get_dummies(CameraAccessory_data['product_analytic_vertical'], drop_first = True)
CameraAccessory_data = pd.concat([CameraAccessory_data,product_analytic_vertical], axis = 1)

Weekday = pd.get_dummies(CameraAccessory_data['Weekday'], drop_first = True)
CameraAccessory_data = pd.concat([CameraAccessory_data,Weekday], axis = 1)

#special_sales = pd.get_dummies(CameraAccessory_data['special_sales'], drop_first = True)
#CameraAccessory_data = pd.concat([CameraAccessory_data,special_sales], axis = 1)

In [41]:
#Deleting original columns
CameraAccessory_data = CameraAccessory_data.drop(['product_analytic_vertical','s1_fact.order_payment_type','product_analytic_super_category','product_analytic_category','product_analytic_sub_category'],axis=1)
#Deleting original columns
#CameraAccessory_data = CameraAccessory_data.drop(['special_sales'],axis=1)
CameraAccessory_data = CameraAccessory_data.drop(['Weekday'],axis=1)

In [42]:
CameraAccessory_data.head()

,Month,gmv,deliverybdays,deliverycdays,units,sla,product_mrp,product_procurement_sla,frequency_y,percent,...,Softbox,Strap,Teleconverter,Telescope,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,10,6400.0,0.0,0.0,1,5,7190.0,0,37909,2.299154,...,0,0,0,0,0,1,0,0,0,0
1,10,6900.0,0.0,0.0,1,7,7190.0,0,37909,2.299154,...,0,0,0,0,1,0,0,0,0,0
2,10,1990.0,0.0,0.0,1,10,2099.0,3,37909,2.299154,...,0,0,0,0,0,0,0,0,1,0
3,10,1690.0,0.0,0.0,1,4,2099.0,3,37909,2.299154,...,0,0,0,0,0,0,0,0,0,1
4,10,1618.0,0.0,0.0,1,6,2099.0,3,37909,2.299154,...,0,0,0,0,0,1,0,0,0,0

In [43]:
var=CameraAccessory_data.columns

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
CameraAccessory_data[var]=scaler.fit_transform(CameraAccessory_data[var])
CameraAccessory_data.head()

,Month,gmv,deliverybdays,deliverycdays,units,sla,product_mrp,product_procurement_sla,frequency_y,percent,...,Softbox,Strap,Teleconverter,Telescope,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0.818182,0.043164,0.544776,0.922664,0.0,0.119048,0.039523,0.0,0.777313,0.777313,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.818182,0.046541,0.544776,0.922664,0.0,0.166667,0.039523,0.0,0.777313,0.777313,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.818182,0.013375,0.544776,0.922664,0.0,0.238095,0.011227,0.2,0.777313,0.777313,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.818182,0.011348,0.544776,0.922664,0.0,0.095238,0.011227,0.2,0.777313,0.777313,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.818182,0.010862,0.544776,0.922664,0.0,0.142857,0.011227,0.2,0.777313,0.777313,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [44]:
from sklearn.model_selection import train_test_split

# We specify this so that the train and test data set always have the same rows, respectively
np.random.seed(0)
df_train, df_test = train_test_split(CameraAccessory_data, train_size = 0.7, test_size = 0.3, random_state = 100)

In [45]:
y_train = df_train.pop('gmv')
X_train = df_train

In [46]:
# Importing RFE and LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Running RFE with the output number of the variable equal to 10
lm = LinearRegression()
lm.fit(X_train, y_train)

rfe = RFE(lm, 10)             # running RFE
rfe = rfe.fit(X_train, y_train)

In [47]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

[('Month', False, 30),
 ('deliverybdays', False, 46),
 ('deliverycdays', False, 49),
 ('units', False, 42),
 ('sla', False, 47),
 ('product_mrp', False, 41),
 ('product_procurement_sla', False, 45),
 ('frequency_y', False, 4),
 ('percent', True, 1),
 ('Year_y', False, 32),
 ('Total Investment', False, 27),
 ('TV', False, 23),
 ('Digital', False, 20),
 ('Sponsorship', False, 29),
 ('Content Marketing', False, 24),
 ('Online marketing', False, 25),
 ('Affiliates', False, 26),
 ('SEM', False, 19),
 ('Radio', False, 22),
 ('Other', False, 21),
 ('NPS', False, 28),
 ('Day', False, 34),
 ('Stock Index', False, 31),
 ('Week', False, 33),
 ('Year', False, 48),
 ('sales_start_week', False, 43),
 ('sales_end_week', False, 44),
 ('COD', False, 16),
 ('Prepaid', False, 17),
 ('CameraAccessory', True, 1),
 ('CameraBag', False, 15),
 ('CameraBattery', False, 8),
 ('CameraBatteryCharger', False, 18),
 ('CameraBatteryGrip', False, 14),
 ('CameraEyeCup', True, 1),
 ('CameraFilmRolls', False, 5),
 ('CameraHousing', False, 11),
 ('CameraLEDLight', True, 1),
 ('CameraMicrophone', False, 6),
 ('CameraMount', False, 13),
 ('CameraRemoteControl', True, 1),
 ('CameraTripod', False, 9),
 ('ExtensionTube', False, 12),
 ('Filter', False, 3),
 ('Flash', False, 7),
 ('FlashShoeAdapter', True, 1),
 ('Lens', True, 1),
 ('ReflectorUmbrella', True, 1),
 ('Softbox', True, 1),
 ('Strap', False, 2),
 ('Teleconverter', True, 1),
 ('Telescope', False, 10),
 ('Monday', False, 39),
 ('Saturday', False, 40),
 ('Sunday', False, 35),
 ('Thursday', False, 38),
 ('Tuesday', False, 36),
 ('Wednesday', False, 37)]

In [48]:
col = X_train.columns[rfe.support_]
col

Index(['percent', 'CameraAccessory', 'CameraEyeCup', 'CameraLEDLight',
       'CameraRemoteControl', 'FlashShoeAdapter', 'Lens', 'ReflectorUmbrella',
       'Softbox', 'Teleconverter'],
      dtype='object')

In [49]:
X_train.columns[~rfe.support_]

Index(['Month', 'deliverybdays', 'deliverycdays', 'units', 'sla',
       'product_mrp', 'product_procurement_sla', 'frequency_y', 'Year_y',
       'Total Investment', 'TV', 'Digital', 'Sponsorship', 'Content Marketing',
       'Online marketing', 'Affiliates', 'SEM', 'Radio', 'Other', 'NPS', 'Day',
       'Stock Index', 'Week', 'Year', 'sales_start_week', 'sales_end_week',
       'COD', 'Prepaid', 'CameraBag', 'CameraBattery', 'CameraBatteryCharger',
       'CameraBatteryGrip', 'CameraFilmRolls', 'CameraHousing',
       'CameraMicrophone', 'CameraMount', 'CameraTripod', 'ExtensionTube',
       'Filter', 'Flash', 'Strap', 'Telescope', 'Monday', 'Saturday', 'Sunday',
       'Thursday', 'Tuesday', 'Wednesday'],
      dtype='object')

In [50]:
# Creating X_test dataframe with RFE selected variables
X_train_rfe = X_train[col]

In [51]:
# Adding a constant variable 
import statsmodels.api as sm  
X_train_rfe = sm.add_constant(X_train_rfe)

In [52]:
lm = sm.OLS(y_train,X_train_rfe).fit()   # Running the linear model

In [53]:
#Let's see the summary of our linear model
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    gmv   R-squared:                       0.098
Model:                            OLS   Adj. R-squared:                  0.097
Method:                 Least Squares   F-statistic:                     1629.
Date:                Sat, 14 Sep 2019   Prob (F-statistic):               0.00
Time:                        20:45:25   Log-Likelihood:             3.7939e+05
No. Observations:              150817   AIC:                        -7.588e+05
Df Residuals:                  150806   BIC:                        -7.586e+05
Df Model:                          10
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   0.0099      0.000     73.053      0.000       0.010       0.010
percent                -0.0068      0.000    -37.396      0.000      -0.007      -0.006
CameraAccessory        -0.0051      0.001     -9.540      0.000      -0.006      -0.004
CameraEyeCup           -0.0083      0.003     -3.299      0.001      -0.013      -0.003
CameraLEDLight          0.0456      0.014      3.300      0.001       0.019       0.073
CameraRemoteControl    -0.0058      0.000    -17.323      0.000      -0.006      -0.005
FlashShoeAdapter       -0.0085      0.014     -0.613      0.540      -0.036       0.019
Lens                    0.0175      0.000    122.934      0.000       0.017       0.018
ReflectorUmbrella      -0.0066      0.014     -0.479      0.632      -0.034       0.020
Softbox                -0.0059      0.006     -0.999      0.318      -0.017       0.006
Teleconverter           0.0933      0.020      4.773      0.000       0.055       0.132
==============================================================================
Omnibus:                   244167.110   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        327279468.470
Skew:                          10.464   Prob(JB):                         0.00
Kurtosis:                     230.251   Cond. No.                         475.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.