In [4]:
import pandas as pd
import numpy as np

num_series = pd.Series([1,2,3,4,5])
print(num_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
import pandas as pd
import numpy as np

num_series = pd.Series([1,2,3,4,5])
print(num_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
datetime = pd.date_range(start = "11-09-2017", end = "12-12-2017")
datetime

DatetimeIndex(['2017-11-09', '2017-11-10', '2017-11-11', '2017-11-12',
               '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16',
               '2017-11-17', '2017-11-18', '2017-11-19', '2017-11-20',
               '2017-11-21', '2017-11-22', '2017-11-23', '2017-11-24',
               '2017-11-25', '2017-11-26', '2017-11-27', '2017-11-28',
               '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-02',
               '2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06',
               '2017-12-07', '2017-12-08', '2017-12-09', '2017-12-10',
               '2017-12-11', '2017-12-12'],
              dtype='datetime64[ns]', freq='D')

In [9]:
custom_series = pd.Series([1,2,3,4],index = ["a","b","c","d"])
custom_series

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
cust = pd.Series(np.arange(10)**3,index = np.arange(10))
cust

0      0
1      1
2      8
3     27
4     64
5    125
6    216
7    343
8    512
9    729
dtype: int32

In [11]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = df.set_index('X',inplace = False)
print(df_2.head())

   Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
X
7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [12]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = df.set_index('X',inplace = True)
print(df.head())

   Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
X
7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0