In [42]:
import numpy as np 
import pandas as pd

# Defining the three dataframes indicating the gold, silver, and bronze medal counts
# of different countries
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )

gold.set_index('Country',inplace = True)
silver.set_index('Country',inplace = True )
bronze.set_index('Country',inplace = True)
TotalGoldSilver = gold.add(silver,fill_value = 0)
TotalMedals = TotalGoldSilver.add(bronze,fill_value= 0)
TotalMedals.sort_values( by = 'Medals',ascending = False)

         Medals
Country
USA        72.0
France     53.0
UK         27.0
Russia     25.0
Germany    20.0

In [44]:
TotalGoldSilver = gold.add(silver,fill_value = 0)
TotalMedals = TotalGoldSilver.add(bronze,fill_value= 0)
TotalMedals.sort_values( by = 'Medals',ascending = False)

         Medals
Country
USA        72.0
France     53.0
UK         27.0
Russia     25.0
Germany    20.0